<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Here, just for grins, I'm populating the title with a parameter 
         that gets specified in the call to render_template() in app.py. 
         Go to app.py and see the '/other' route for details. -->
    <title>Charger Network Table</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script> 


    <!-- Import some CSS, just to show how it's done. -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css"></link>
</head>

<body>
    <h1>This is chargernetwork.html</h1>

    <div id="plot"></div>

    <br>

    <!-- Define a link that takes us back to the index route. 
         Note that this doesn't call index.html directly, but 
         instead executes the code for the index route in app.py. -->
    <a href="/">Click here to return home!</a>

    <script type="text/javascript" src="static/js/chargernetwork.js"></script>
</body>

</html>